body {
font-family: Helvetica, Arial, sans-serif;
background-image: url("../images/bgroundCart.jpg");
background-repeat: no-repeat;
width: 575px;
padding-left: 100px;
}

.container {
display: inline-block;
width: 750px;
margin-left: 535px;
}

.img-wrapper {
display: inline-block;
Width: 20%;
padding: 10px 15px;}

.img-wrapper img{
width: 100%;
}

.onClickedText {
  color: #db667a;
  text-align: center;
  font-size: 18px;
}
/* change the SVG graphic artwork with CSS! */

#Burger:hover #Cheese{fill: #fbb03b;}
#Burger:hover #Patty{fill: #7f5a00;}

#Sausage:hover #body{fill: #ed1c24;}

#Pizza:hover #Pep1{fill: #db667a;}
#Pizza:hover #Pep2{fill: #44892b;}
#Pizza:hover #Pep3{fill: #db667a;}
#Pizza:hover #Crust{fill: #fbb03b;}

#IceCream:hover #Cream{fill: #f197c0;}
#IceCream:hover #Cone{fill: #fbb03b;}

#Donut:hover #Body{fill: #bc7e24;}
#Donut:hover #Hole{fill: #fff;}

#Cake:hover #Icing{fill: #72b7e5}

#Fries:hover #Logo{fill: #f7ed48;}
#Fries:hover #Box{fill: #ed1c25;}

#Meat:hover #Top{fill: #603813;}
#Meat:hover #Top2{fill: #d4145a;}

#Juice:hover #Logo{fill: #00a651;}
#Juice:hover #Body{fill: #f26522;}

#Beer:hover #BeerTop{fill: #ddcd5f;}

#CoffeeCup:hover #body{fill: #7f5a00;}

#TeaCup:hover #body{fill: #009245;}
#TeaCup:hover #teaBag{fill: #fff;}
